--extra-index-url https://download.pytorch.org/whl/cu128

numpy>=1.26.0,<2.0.0
typing-extensions>=4.12.0
opencv-python>=4.10.0
cv2_enumerate_cameras==1.1.15
onnx==1.17.0
insightface==0.7.3
psutil>=6.1.0
tk==0.1.0
customtkinter==5.2.2
pillow>=11.0.0
torch; sys_platform != 'darwin'
torch==2.6.0+cu128; sys_platform == 'darwin'
torchvision; sys_platform != 'darwin'
torchvision==0.20.0; sys_platform == 'darwin'
onnxruntime-silicon==1.20.0; sys_platform == 'darwin' and platform_machine == 'arm64'
onnxruntime-gpu==1.20.0; sys_platform != 'darwin'
tensorflow; sys_platform != 'darwin'
opennsfw2==0.13.0
protobuf==5.28.0
git+https://github.com/xinntao/BasicSR.git@master
git+https://github.com/TencentARC/GFPGAN.git@master
pygrabber
